@import compass/css3/text-shadow
@import empresaula/buttons
@import "compass/typography/links/link-colors"

$blueprint-table-header-color: $light-red
$blueprint-table-stripe-color: lighten($gray, 5%)

@mixin empresaula-table
  @extend .striped
  thead
    th
      &, a
        font-weight: bold
        color: #fff
        $shadow-color: darken($blueprint-table-header-color, 25%)
        +single-text-shadow($shadow-color, 0px, -1px, 0px)
      a
        +link-colors(#fff, #fff, #fff, #fff, #fff)
        text-decoration: none
        &:hover
          text-decoration: underline
  td, th
    padding: 5px 10px
  tbody
    background-color: #fff
    td.options
      white-space: nowrap
      a
        +button
        &.delete, &[data-method='delete']
          +button($light-red)
